.navbar
{
    background-color: #74E291;
    overflow: scroll;
    margin: 0;
    padding: 20px;
    list-style-type: none;
}

.navbar li
{
    float: left;
}

.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
